@charset "UTF-8";

@media screen and (min-width:768px) and (max-width: 992px) {

    /* TABLET */

    body {
        font-family: Arial, sans-serif;
        height: 100vh;
        width: 100vw;
        background-color: #494949;
      }
    
      .container {
        background: white;
        padding: 20px 30px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.288);
        min-width: 600px;
        max-width: 700px;
        height: 100%;
      }

      .container h1 {
        text-align: center;
        margin-bottom: 20px;
        color:#000000;
        font-size: 2.5em;
        font-family: "Anton", sans-serif;
        font-weight: normal;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
      }
}

@media screen and (min-width: 992px) {

    /* DESKTOP */

    body {
        font-family: Arial, sans-serif;
        height: 100vh;
        width: 100vw;
        background-color: #494949;
      }
    
      .container {
        background: white;
        padding: 20px 30px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.288);
        min-width: 800px;
        max-width: 900px;
        height: 100%;
      }

      .container h1 { 
        text-align: center;
        margin-bottom: 20px;
        color:#494949;
        font-size: 2.5em;
        font-family: "Anton", sans-serif;
        font-weight: normal;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
      }

}