@charset "UTF-8";

@media screen and (min-width:768px) and (max-width: 992px) {

    /* TABLET */

    body {
      font-family: 'Inter', sans-serif;
      background-color: var(--cor1);
      color: var(--cor6);
      min-height: 100vh;
      padding: 20px;
    }
    
    .container {
      background-color: var(--cor2);
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
      width: 100%;
      max-width: 500px;
    }
    
    .container h1 {
      text-align: center;
      font-size: 2em;
      color: var(--cor5);
      margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {

    /* DESKTOP */

    body {
      font-family: 'Inter', sans-serif;
      background-color: var(--cor1);
      color: var(--cor6);
      min-height: 100vh;
      padding: 20px;
    }
    
    .container {
      background-color: var(--cor2);
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
      width: 100%;
      max-width: 700px;
    }
    
    .container h1 {
      text-align: center;
      font-size: 2em;
      color: var(--cor5);
      margin-bottom: 20px;
    }

}